#p_404 {
    color: #ff0000;
    font-size: 20rem;
    font-weight: bolder;
    margin-top: -100px;
    margin-bottom: -100px;
    font-feature-settings: normal;
}
#p_404_titre {
    color: #0071bc;
    font-weight: bolder;
}
#p_404_message {
    color: #0071bc;
    font-size: 1rem;
}
.img_loading_page {
    margin-top: 20%;
    width: 150px;
    position: relative !important;
}
.img_full_page {
    width: 100%;
    position: relative !important;
}
.img_half_page {
    width: 50%;
    position: relative !important;
}

#div_infos {
    height: 40px;
    color: #FFFFFF;
    margin-top: 30px;
    overflow: hidden;
    line-height: 40px;
    font-family: cursive;
    margin-bottom: -50px;
    background-color: #fe0000;
    -webkit-user-select: none;
    position: relative !important;
    box-shadow: inset 0 -15px 30px rgba(0,0,0,0.4), 0 5px 10px rgba(0,0,0,0.5);
}
#div_infos span {
    float: left;
    color: #fff;
    padding: 6px;
    position: relative;
    top: 1%;
    box-shadow: inset 0 -15px 30px rgba(0,0,0,0.4);
    -webkit-font-smoothing: antialiased;
    -webkit-user-select: none;
    cursor: pointer
}
#div_infos ul {
    float: left;
    padding-left: 20px;
    animation: ticker 10s cubic-bezier(1, 0, .5, 0) infinite;
    -webkit-user-select: none
}
#div_infos ul li {line-height: 55px; list-style: none;}
#div_infos ul li a {color: #FFFFFF;}



.align_right {text-align: right;}
.align_left {text-align: left;}
.align_center {text-align: center;}
.align_justify {text-align: justify;}
#nav_breadcrumb {
    padding-left: 10px;
    padding-right: 10px;
    background-color: #010101;
    --bs-breadcrumb-divider: '/';
}
#nav_breadcrumb a {
    color: #0083c4;
    text-decoration: none;
}
#nav_breadcrumb a:hover {
    color: #fe0000;
    text-decoration: none;
}
#div_main_page {
    width: 100%;
    color: #000000;
    padding: 10px;
    margin-top: 38px;
    min-height: 80vh;
    background-color: #f8f9fa;
}
.p_button {
    margin-bottom: -30px;
}
.p_page_titre {
    border-bottom: 1px dotted #000000;
    padding-bottom: 20px;
}
#div_profil p {
    width: 100%;
    margin: 10px;
}
#div_profil p small {
    color: #808080;
}
#div_profil p .b_photo button{
    z-index: 1;
    width: 250px;
    height: 250px;
    margin: auto;
    padding: 10px;
    display: block;
    font-size: 5rem;
    line-height: 100px;
    border-radius: 50%;
    border: 1px solid transparent;

}
#button_population_photo:hover,
#button_ets_logo:hover {
    background-color: rgba(0,0,0,0.5);
}
#div_profil p .b_photo button:hover{
    color: #f8f9fa;
    background-color: #000000;

}
#image_photo_profil {
    width: 100%;
    border-radius: 50%;
}
.breadcrumb {
    line-height: 20px;
}
#div_sidebar {
    height: 100%;
    display: block;
    background-color: rgba(39,43,63,0.2);
}
#div_email,
#div_utilisateur,
#div_form,
#div_ets_coordonnees_form,
#div_ets_service_form,
#div_ets_ps_form,
#div_ets_utilisateurs_form,
#div_user_coordonnees_form,
#div_user_groupe_sanguin_form,
#div_recherche_assures,
#div_ajout_assure,
#div_panier_acte,
#div_panier_medicament,
#div_panier_pathologie,
#div_medicament_forme,
#div_paiement_especes,
#div_nouveau_rdv,
#div_prix_achat,
#div_prix_vente {
    display: none;
}
#div_resultats{
    height: 300px;
    padding: 10px;
    margin-top: 10px;
    overflow-x: auto;
    overflow-y: auto;
    background-color: #f8f9fa;
    border: 1px solid #CCCCCC;
}
#div_utilisateur_entete{
    height: auto;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    background-color: #f8f9fa;
    box-shadow: 1px 1px 1px 1px #d2d1d1;
}
#div_utilisateur_info{
    height: auto;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    overflow-x: auto;
    overflow-y: auto;
    background-color: #f8f9fa;
    box-shadow: 1px 1px 1px 1px #d2d1d1;
}
#profile{
    border-right: 1px solid #d2d1d1;
    height: auto;
    align-content: center;

}
.div_boxes {
    margin-bottom: 5px;
}
#p_groupe_sanguin {
    z-index: 1;
    font-size: 10rem;
    width: fit-content;
    text-align: right;
    padding-right: 40px;
    color: rgba(24,131,81,0.5);
    position: absolute !important;
}
.bg-indigo {
    color: #f8f9fa;
    background-color: #272b3f !important;
}
.btn-indigo {
    color: #fff;
    background-color: #272b3f;
    border-color: #272b3f;
}
.btn-indigo:hover {
    color: #fff;
    background-color: #272b3a;
    border-color: #272b3a;
}
.div_ticket_box {
    padding: 10px 5px 5px 5px;
    display: block;
    border: 3px solid #000000;
}
.div_ticket_box span {
    width: 100%;
    display: block;
    font-size: 3rem;
    text-align: left;
    margin-bottom: -30px;
}
.div_ticket_box i {
    width: 100%;
    top: -70px;
    float: right;
    font-size: 4rem;
    text-align: right;
    position: relative;
    margin-bottom: -130px;
    opacity: 0.33;
}
.div_ticket_box p {
    top: -150px;
    margin-top: 20px;
    font-size: 0.8rem;
    text-align: right;
    font-weight: bold;
    font-style: italic;
    margin-bottom: -4px;
    border-top: 2px solid #FFFFFF;
}
#div_facture {
    padding: 10px;
    display: block;
    min-height: 700px;
    border: 2px solid #19181B;
    background-color: #777777;
}
.allow_numeric {
    color: #0083c4;
    text-align: right;
    font-weight: bold;
}
fieldset {
    padding: 10px;
    border: 1px solid #CCCCCC;
}
fieldset legend {
    font-size: 0.8rem;
    font-weight: bold;
    margin-top: 20px;
    border-top: 1px dotted #CCCCCC;
}
.div_charts_numbers {
    width: 100%;
    height: 100px;
    color: #FFFFFF;
    text-align: center;
    border-radius: 10px;
    border: 2px solid #FFFFFF;
    background-color: #36466f;
}
.div_charts_numbers p strong {
    font-size: 3rem;
    margin-bottom: -10px;
}
.div_cols {
    height: 75vh;
}
.div_support_boxes {
    width: 100%;
    height: 105px;
    padding: 5px;
    margin-bottom: 5px;
    border: 2px solid #FFFFFF;
}
.div_support_boxes i {
    display: block;
    text-align: right;
}
.div_support_boxes p {
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: -5px;
}
.div_support_boxes small a {
    font-weight: bold;
}
.p_chiffre_important {
    color: #0071bc;
    font-size: 7rem;
    font-weight: bold;
    text-align: center;
}
.total_resultat_input {
    width: 100%;
    font-size: 2rem;
    text-align: right;
    font-weight: bold;
    font-family: Bahnschrift, math;
}
#div_nouvelle_vente {
    width: 98%;
    padding: 20px;
    display: none;
    z-index: 55555;
    min-height: 98vh;
    margin-top: -50px;
    margin-left: -80px;
    border: 1px solid #ff0000;
    background-color: #272b3a;
    position: absolute !important;
}
#div_liste_produits {
    color: black;
    height: 300px;
    overflow-y: auto;
    background-color: #FFFFFF;
}
#form_facture_medicale_paiement input, #form_facture_medicale_paiement #remise_input {
    text-align: right;
    font-weight: bolder;
}
#form_facture_medicale_paiement #montant_net_input,
#montant_net_a_payer_input {
    font-size: 1.3rem;
    padding: -10px;
    text-align: right;
    background-color: darkturquoise;
    font-family: 'Jura', sans-serif;
}
#strong_nombre_utilisateurs,
#strong_nombre_patients,
#strong_nombre_medecins,
#strong_nombre_factures,
#strong_nombre_dossiers {
    font-weight: bolder;
    font-family: 'Jura', sans-serif;
}
.calendar__table {
    width: 100%;
    height: calc(100vh - 180.8px);
}
.calendar__table td {
    padding: 10px;
    border: 1px solid #CCCCCC;
    vertical-align: top;
    width: 14.29%;
}
.calendar__weekday {
    font-weight: bold;
}
.calendar__day button {
    font-size: 1.3em;
    font-weight: bold;
}
.calendar__othermonth .calendar__day {
    opacity: 0.3;
}
#calendar__today {
    color: #FFFFFF;
    border: 1px solid #ff0000;
    background-color: #19181B;
}
.div_rdv {
    margin-bottom: -10px;
}
footer {
    text-align: center;
}
